<h2>List of all posts</h2>

<% @posts.each do |post| %>
<%= link_to 'Edit', edit_post_path(post) %>
<%= link_to 'Destroy', post, confirm: 'Are you sure?', method: :delete %>
<table class="post-preview">
  <tr>
    <td><i><h2><%= link_to post.title, post %></h2></i></td>
  </tr>
  <tr>
    <td><%= post.body.slice(0..50) + (post.body.length>50 ? "...":"   ") %></td>
  </tr>
</table>
<br />
<% end %>

<br />
<%= link_to 'New Post', new_post_path %>
